<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>歌雪思 首页（测试）</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../js/vendor/owl.carousel.2.1.0/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../js/vendor/owl.carousel.2.1.0/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/glowing.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<!--[if lte IE 8]>
<p class="browserupgrade">您的浏览器版本有点低，请到 <a href="http://browsehappy.com/">这里</a> 更新，已获得更好的体验</p>
<![endif]-->

<header>
    <nav class="main-nav">
        <a href="#" class="brand"><img src="../img/logoS.png" alt="回到首页"></a>
        <ul>
            <li><a href="javascript:;" class="active">首页</a></li>
            <li><a href="javascript:;">女士</a></li>
            <li><a href="javascript:;">店铺信息</a></li>
            <li><a href="javascript:;">关于我们</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <!--段落1--幻灯片部分-->
    <div class="ad">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <picture>
                    <source srcset="../img/ad022-l.jpg" media="(min-width:50em)">
                    <source srcset="../img/ad022-m.jpg" media="(min-width:30em)">
                    <img src="../img/ad022-s.jpg" alt="图片">
                </picture>
            </div>
            <div class="item">
                <picture>
                    <source srcset="../img/ad020-l.jpg" media="(min-width:50em)">
                    <source srcset="../img/ad020-m.jpg" media="(min-width:30em)">
                    <img src="../img/ad020-s.jpg" alt="图片">
                </picture>
            </div>
            <div class="item">
                <picture>
                    <source srcset="../img/adtest-l.png" media="(min-width:50em)">
                    <source srcset="../img/adtest-m.png" media="(min-width:30em)">
                    <img src="../img/adtest-s.png" alt="图片">
                </picture>
            </div>
        </div>
    </div>
    <!--分割线部分-->
    <div class="horizon"></div>
    <!--内容标题-->
    <div class="description-title">
        <h3 class="text-center"><em>1.</em></h3>
        <h1 class="text-center"><em>Elegant</em></h1>
    </div>
    <!--段落二--装饰的内容-->
    <div class="description-box">
        <div class="item">
            <p><em>I beg to know expressly your intention touching the love between us. Necessity compels me to obtain this answer, having been more than a year wounded by the dart of love, and not yet sure whether I shall fail or find a place in your affection.</em></p>
        </div>
        <div class="item">
            <p><em>This '70s silhouette pulled from the archives gets some modern updates. This women's soft French terry tank top features ribbed collar and armholes that reflect the style of today's London streets. The 3-Stripes in a contrast color at the hem finish the look with adidas flair.</em></p>
        </div>
    </div>
    <!--内容标题-->
    <div class="description-title">
        <h3 class="text-center"><em>2.</em></h3>
        <h1 class="text-center"><em>Warm In Spring</em></h1>
    </div>
    <!--段落三--照片墙-->
    <div class="photo-wall clearfix">
        <div class="move-box1 move-box">
            <div class="item item-left glowing lightblue">
                <img src="../img/ad012-500w.jpg" alt="服装照">
            </div>
        </div>
        <div class="move-box2 move-box">
            <div class="item item-right1 glowing lightblue">
                <img src="../img/ad016-320wh.jpg" alt="服装照">
            </div>
        </div>
        <div class="move-box3 move-box">
            <div class="item item-right2 glowing lightblue">
                <img src="../img/ad017-370wh.jpg" alt="服装照">
            </div>
        </div>
    </div>
    <!--内容标题-->
    <div class="description-title">
        <h3 class="text-center"><em>3.</em></h3>
        <h1 class="text-center"><em>Angel</em></h1>
    </div>
    <!--段落四--文字描述-->
    <div class="description-section text-center">
        <p><em>Age has reached the end of the beginning of a word. May be guilty in his seems to passing a lot of different life became the appearance of the same day; May be back in the past, to oneself the paranoid weird belief disillusionment, these days, my mind has been very messy, in my mind constantly. Always feel oneself should go to do something, or write something. Twenty years of life trajectory deeply shallow, suddenly feel something, do it.</em></p>
    </div>
    <!--段落四--画布-->
    <div class="canvas-img clearfix">
        <picture>
            <source srcset="../img/ad020-l.jpg" media="(min-width:50em)">
            <source srcset="../img/ad020-m.jpg" media="(min-width:30em)">
            <img src="../img/ad020-s.jpg" alt="图片">
        </picture>
        <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
                <h3>Beauty,Elegent</h3>
                <p>Whatever It Is - Always Awesome</p>
            </div>
        </div>
    </div>
    <!--内容标题-->
    <div class="description-title">
        <h1 class="text-center"><em>Gexuesi</em></h1>
        <p class="text-center"><em>Just for the most beautiful you</em></p>
    </div>
    <!--分割线部分-->
    <div class="horizon"></div>

</div>

<!--js-->
<script src="../js/modernizr.js"></script>
<script src="../js/vendor/jquery.min.js"></script>
<script src="../js/vendor/owl.carousel.2.1.0/owl.carousel.min.js"></script>
<script src="../js/vendor/picturefill.min.js"></script>
<script src="../js/vendor/jquery.hover3d.min.js"></script>
<script src="../js/main.js"></script>
<!--endbuild-->
</body>
</html>