<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>歌雪思 - 女士 （测试）</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../js/vendor/owl.carousel.2.1.0/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../js/vendor/owl.carousel.2.1.0/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/glowing.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/product_list/main.css">
</head>
<body>
<!--[if lte IE 8]>
<p class="browserupgrade">您的浏览器版本有点低，请到 <a href="http://browsehappy.com/">这里</a> 更新，已获得更好的体验</p>
<![endif]-->

<header>
    <nav class="main-nav">
        <a href="#" class="brand"><img src="../img/logoS.png" alt="回到首页"></a>
        <ul>
            <li><a href="javascript:;" class="active">首页</a></li>
            <li><a href="javascript:;">女士</a></li>
            <li><a href="javascript:;">店铺信息</a></li>
            <li><a href="javascript:;">关于我们</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <!--段落1--幻灯片部分-->
    <div class="ad">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <picture>
                    <source srcset="../img/ad022-l.jpg" media="(min-width:50em)">
                    <source srcset="../img/ad022-m.jpg" media="(min-width:30em)">
                    <img src="../img/ad022-s.jpg" alt="图片">
                </picture>
            </div>
            <div class="item">
                <picture>
                    <source srcset="../img/ad020-l.jpg" media="(min-width:50em)">
                    <source srcset="../img/ad020-m.jpg" media="(min-width:30em)">
                    <img src="../img/ad020-s.jpg" alt="图片">
                </picture>
            </div>
            <div class="item">
                <picture>
                    <source srcset="../img/adtest-l.png" media="(min-width:50em)">
                    <source srcset="../img/adtest-m.png" media="(min-width:30em)">
                    <img src="../img/adtest-s.png" alt="图片">
                </picture>
            </div>
        </div>
    </div>
    <!--分割线部分-->
    <div class="horizon"></div>
    <!--内容标题-->
    <div class="description-title">
        <h3 class="text-center"><em>1.</em></h3>
        <h1 class="text-center"><em>Shop</em></h1>
    </div>
    <!--小方块式产品列表-->
    <div class="square-list">
        <div class="item">
            <img src="../img/ad030-250wh.jpg" alt="">
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <p>纱织长裙  ￥210</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/ad031-250wh.jpg" alt="">
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <p>纱织长裙  ￥210</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/ad032-250wh.jpg" alt="">
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <p>纱织长裙  ￥210</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/ad033-250wh.jpg" alt="">
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <p>纱织长裙  ￥210</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/ad034-250wh.jpg" alt="">
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <p>纱织长裙  ￥210</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/ad035-250wh.jpg" alt="">
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <p>纱织长裙  ￥210</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/ad036-250wh.jpg" alt="">
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <p>纱织长裙  ￥210</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/ad037-250wh.jpg" alt="">
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <p>纱织长裙  ￥210</p>
                </div>
            </div>
        </div>
    </div>
    <!--内容标题-->
    <div class="description-title">
        <h3 class="text-center"><em>1.</em></h3>
        <h1 class="text-center"><em>Shop</em></h1>
    </div>
    <!--左图片又描素展示框-->
    <div class="buy-list">
        <div class="item clearfix">
            <div class="buy-list-picture">
                <img src="../img/ad040-500w250h.jpg" alt="">
            </div>
            <div class="buy-list-description">
                <p>短袖T恤女上衣夏季新款韩版宽松竹节棉圆领纯色百搭蝙蝠袖体恤衫 红色</p>
                <p>￥ 66</p>
            </div>
            <div class="buy-list-button">
                <a href="">购买</a>
            </div>
        </div>
        <div class="item clearfix">
            <div class="buy-list-picture">
                <img src="../img/ad041-500w250h.jpg" alt="">
            </div>
            <div class="buy-list-description">
                <p>歌雪思 2017新款镂空针织衫女套头韩版宽松圆领修身毛衣女短袖针织衫女</p>
                <p>￥ 66</p>
            </div>
            <div class="buy-list-button">
                <a href="">购买</a>
            </div>
        </div>
        <div class="item clearfix">
            <div class="buy-list-picture">
                <img src="../img/ad042-500w250h.jpg" alt="">
            </div>
            <div class="buy-list-description">
                <p>短袖T恤女上衣夏季新款韩版宽松竹节棉圆领纯色百搭蝙蝠袖体恤衫 红色</p>
                <p>￥ 66</p>
            </div>
            <div class="buy-list-button">
                <a href="">购买</a>
            </div>
        </div>
    </div>
    <!--内容标题-->
    <div class="description-title">
        <h3 class="text-center"><em>1.</em></h3>
        <h1 class="text-center"><em>Shop</em></h1>
    </div>
    <!--内容标题-->
    <div class="description-title">
        <h1 class="text-center"><em>Gexuesi</em></h1>
        <p class="text-center"><em>Just for the most beautiful you</em></p>
    </div>
    <!--分割线部分-->
    <div class="horizon"></div>

</div>

<!--js-->
<script src="../js/modernizr.js"></script>
<script src="../js/vendor/jquery.min.js"></script>
<script src="../js/vendor/owl.carousel.2.1.0/owl.carousel.min.js"></script>
<script src="../js/vendor/picturefill.min.js"></script>
<script src="../js/vendor/jquery.hover3d.min.js"></script>
<script src="../js/product_list/main.js"></script>
<script src="../js/main.js"></script>
<!--endbuild-->
</body>
</html>